*
{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
.Main
{
    display: inline-block;
    height: 650px;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(./images/banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
}


.nav-links
{
    display: inline-block;
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    text-align: right;
}
nav img
{
   width: 150px;

}
.nav-links ul li
{
    
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a
{
   color: #0fff;
    display: inline-block;
    text-decoration: none;
   -ms-text-size-adjust: 13px;

}
.nav-links ul li::after
{
   content: '';
   width: 0px;
   height: 2px;
   background: #f44336;
   display: block;
   margin: auto;
   transition: 0.5s;
}
.nav-links ul li:hover::after
{
   width: 100%;
}
.Box
{
    width: 90%;
    color: #0fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,0);
    text-align: center;
}
.Box h1
{
    font-size: 62px;
}
.Box p 
{
    margin: 10px 0px 40px;
    font-size: 14px;
    color: #fff;
}
.Button
{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    background-color: hsl(120, 100%, 50)
}
.Button:hover
{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s; 
}
nav.fa
{
    display:none;
}
/* Size of worlds Biggest increase */
@media(max-width:700px)
{
    .text-Box h1{
        font-size: 62px;
    }
    .nav-links ul li
    {
        display: block;
    }
    
    
}
/* Course */
.Course
{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 80%;
}
p
{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 2; 
    padding: 10px;

}
.Row
{
   margin-top: 5%;
   display: flex;
   justify-content: space-between;
}
.course-col
{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 10px 6px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3
{
    text-align: center;
    font-weight: 600;
    margin: 10px 0px;
}
.course-col:hover
{
    box-shadow: 0 0 18px 0px rgba(214, 17, 181, 0.829);
}